@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.main-background {
  height: 93vh;
  display: flex;
}

.page {
  width: 100%;
}

.heading {
  font-size: 60px;
  font-family: "Work Sans", sans-serif;
  padding: 0 10px;
  color: #464646;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
